{% extends '::base.html.twig' %}

{% block title %}Hello, {{ name }}{% endblock %}

{% block body %}
    <h1>Hello {{ name }}, nice to see you!</h1>
    <br>You can check what will happen if you'll enter: <a href="{{ url }}">Hello for Jim</a>.
    <br>Or try this one, generated in Twig template: <a href="{{ url('hello', {'name': 'Jim'}) }}">Hello for Jim</a>.
{% endblock %}
