{% extends '::base.html.twig' %}

{% block body %}
    <ul>
    {% for category in categories %}
        <li>{{ category.name }} [id: {{ category.id }}]</li>
    {% endfor %}
    </ul>
{% endblock %}
